<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proje002">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".araclar.bakimlar.bakimguncelle.BakimGuncelleDialogFragment"/>
        <activity android:name=".araclar.bakimlar.bakimekle.BakimEkleDialogFragment"/>
        <activity android:name=".araclar.arac.aracekle.AracEkleDialogFragment"/>
        <activity android:name=".araclar.arac.aracguncelle.AracGuncelleDialogFragment"/>
        <activity android:name=".araclar.bakimlar.bakimgoster.BakimListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".araclar.arac.aracgoster.AracListActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>